* {
    box-sizing: border-box;
}

.wrapper {
    height: 2582px;
}

.content-container {
    width: 1196px;
    margin: 0 auto;
}

.menu-line-container {
    display: flex;
    justify-content: center;
}

.menu-line {
    width: 100%;
    height: 54px;
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-elements {
    display: flex;
    flex-direction: row;
    gap: 35px;
    padding-left: 45px;
}

.nav-el {
    color: #606060;
}

.black-btn {
    width: 200px;
    height: 54px;
    border: 1px solid #141416;
    border-radius: 16px;
    background-color: #141416;
    color: #FFFFFF;
    font-size: 16px;
}

.top {
    height: 534px;
    padding-top: 124px;
}

.top-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.btns {
    padding-top: 20px;
}

.bigletters {
    height: 168px;
    width: 567px;
    font-size: 76px;
    line-height: 84px;
}

.smallletters {
    height: 56px;
    width: 491px;
    font-size: 18px;
    line-height: 28px;
}

.bold {
    font-weight: bold;
}

.btns {
    display: flex;
    gap: 21px;
}

.exploreBtn {
    width: 180px;
    height: 60px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 12px;
    color: #FFFFFF;
    background-color: #000000;
}

.createBtn {
    width: 140px;
    height: 60px;
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 12px;
    color: #000000;
    background-color: #FFFFFF;
}

.hero-header {
    width: 50%;
    height: 543px;
    /* background-color: #f0f0f0;  */
}

/* @media screen and (min-width: 1440px) and (max-width: 4000px) {

}

@media screen and (min-width: 600px) and (max-width: 1440px) {

}

@media screen and (min-width: 375px) and (max-width: 600px) {

} */